@inherits LayoutComponentBase
@using ColNet2._0.Authentification
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider

<PageTitle>ColNet</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-5" style="background-color:#ffffff;">
            <img src="/images/colnet.png" asp-append-version="true" width="140px" alt="non trouvé" class="mx-auto d-block" />
            <AuthorizeView>
                <Authorized>
                    <a class="oi oi-account-logout text-uppercase" @onclick="Logout" href="javascript:void(0)"> Logout</a>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> LOGIN
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
           
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {


    private async Task Logout()
    {
        var customAuthProvider = (CustomAuthenticationStateProvider)authProvider;
        await customAuthProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/",true);
    }
}
